labs/p1soapclient-ws/src/main/wsdl/todoSoap.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://soapserver.p1.ivelate/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soapserver.p1.ivelate/">

<xs:element name="addToDo" type="tns:addToDo"/>

<xs:element name="addToDoResponse" type="tns:addToDoResponse"/>

<xs:element name="listToDos" type="tns:listToDos"/>

<xs:element name="listToDosResponse" type="tns:listToDosResponse"/>

<xs:element name="removeToDo" type="tns:removeToDo"/>

<xs:element name="removeToDoResponse" type="tns:removeToDoResponse"/>

<xs:complexType name="listToDos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listToDosResponse">
<xs:sequence>
<xs:element name="return" type="tns:toDo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="toDo">
<xs:sequence>
<xs:element name="context" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="tns:priority" minOccurs="0"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="task" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeToDo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeToDoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addToDo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="tns:priority" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addToDoResponse">
<xs:sequence/>
</xs:complexType>

<xs:simpleType name="priority">
<xs:restriction base="xs:string">
<xs:enumeration value="VERY_HIGH"/>
<xs:enumeration value="HIGH"/>
<xs:enumeration value="MEDIUM"/>
<xs:enumeration value="LOW"/>
<xs:enumeration value="VERY_LOW"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>